{% extends "base.html"%}
{% block content %}
    <form name="new_account_form" action="{{ url_for('account_create') }}" onsubmit="return(validateForm())" method="post" enctype="multipart/form-data">
      <h4>Create New Account</h4>
      <label for="user_name">User name:</label><br>
      <input type="text" id="user_name" name="user_name" required><br>
      <label for="email_address">Email address:</label><br>
      <input type="text" id="email_address" name="email_address" required><br>
      <label for="password">Password:</label><br>
      <input type="password" id="password" name="password" required><br>
      <label for="birthday">Birth date:</label><br>
      <input type="date" id="birth_date" name="birth_date" required><br>
      <label for="cv">CV:</label>
      <input type="file" id="cv" name="cv" required><br>
      <input type="submit" value="Submit">
    </form>
    <script type="text/javascript">

      function checkFileSize(){
        file_size = document.getElementById('cv').files[0].size /1024/1024
        if (file_size > 1.5){
          return false;
        }
        return true;
      }
      function checkValideEmail(){
        function validateForm(){
        email = document.getElementById('email_address').value;
        re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(String(email).toLowerCase());
      }
        is_valid = true;
        if(!checkValideEmail()){
          is_valid = false;
          window.alert("Invalid Email address");
        }
        if(!checkFileSize()){
          is_valid = false;
          window.alert("CV file exceeds limits, 1.5 MB");
        }
        return is_valid;
      }
    </script>
{% endblock %}
